body,
html {
    height: 100%;
    margin: 0;
}

header {
    color: orange;
    text-align: center;
    padding: 0px;
    font-size: 5em;
    font-family: bolder;
    background-color: red;
}

.bg {
    /* The image used */
    background-image: url(farm-full-screen-hd.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animal-box {
    /*display: flex;*/
    position: relative;
    padding: 5px 0px 60px 5px;
}

.cow {
    /*display: flex 1;*/
    padding: 425px 0px 0px 175px;
    position: relative;
    height: 225px;
}

.pig {
    /*display: flex 2;*/
    padding: 500px 0px 0px 10px;
    position: relative;
    height: 125px;
}

.rooster {
    /*display: flex 2;*/
    padding: 5px 20px 10px 10px;
    position: relative;
    height: 75px;
}

.horse {
    /*display: flex 1;*/
    padding: 5px 20px 10px 0px;
    position: relative;
    height: 200px;
}